
.gradient {
  background-image: radial-gradient(
          circle at top right,
          #a1ecfb,
          #27dafd 50%);
}

.blockDimension {
  height: 10.31vh;
  width: 10.31vh;
}

.blockInfoDimension {
  height: 26.83vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 15.47vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.block {
  width: 10.31vh;
  height: 10.31vh;
  margin: 0.51vh;
  cursor: pointer;
}

.block:hover {
  transform: scale(1.1);
}

.recordsView {
  overflow-y: auto;
}

.padding20LR {
  padding-left: 1.02vw;
  padding-right: 1.02vw;
}

.blockChainText {
  text-align: center;
}

.blockViewContainer {
  height: 30.95vh;
  align:center;
  text-align:center;
}

.buttonBar {
  margin: 1.02vw;
}

.pending-trans-div {
  text-align: right;
}

.pending-records-button {
  padding-right: 1.02vw;
}

.blockChainParent {
  /*width: 100%;*/
}

.blockDetailsParent {
  height: 44.37vh;
}

.footerBar {
  position: absolute;
}

.footerDiv {
  text-align:center;
  padding-top: 0.80vh;
}

.marginZero {
  margin: 0 !important;
}

.tw-name {
  text-align:left;
  margin-left:6.54vw !important;
}

.headerBar {
  padding-bottom: 0 !important;
}

.marginTwenty {
  margin: 2.12vh 1.19vh;
}

.odoHeaderText {
  margin-bottom: 0 !important;
}

.headerLogo {
  text-decoration: none;
}

.gn-name {
  text-align: right;
}

.odoMeterText {
  padding-top: 7.45vh;
}

.odo-tableParent {
  height:29.81vh;
  overflow:auto;
}

.odoRecordsView {
  height: 30.95vh;
  align: center;
  text-align: center;
}

.findCarView {
  height: 30.95vh;
  align: center;
  text-align: center;
}

.findCarSwitch {
  padding-right: 1.0vw;
}

.findCarInput {
  height: 4.25vh;
  width: 29.76vw;
  font-size: 3.72vh;
}

.odoCheckButton {
  padding: 2vh;
  text-align: center;
}

.odoButtonText {
  margin-bottom: 0 !important;
}

.odoAnswer {
  padding: 2vh;
}


.miningButtonParent {
  align-content: center;
}
.miningButton {
  text-align: center;
  height: 5.32vh;
  width: 23.80vw;
}

.singleBlockText {
  padding-top: 1.06vh;
}

.singleBlockContent {
  text-align: left;
}

.empty-block {
  padding-top:7.45vh;
}

.block-field {
  text-align: right;
}

.margin-zero {
  margin: 0 !important;
}

.pending-trans-container {
  height: 82vh;
}

.no-pending {
  padding-left: 1vw;
}

.popupCard {
  font-size: 2.27vh;
  word-wrap: break-word;
}
